body {
    /*background-color: #add8e6;*/
    background-color: #00a470;
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 400%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    animation: simple_fade_in;
    animation-duration: 2s;
}



.button {
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
    background-color: #ffb6c1;
    text-decoration: none;
    margin: 1% 2%;
    border-radius: 15px;
    animation: simple_fade_in;
    animation-duration: 2s;
}

.index-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}

.screenshot-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button:hover {
    background-color: #FFB6C1;
}

.player-list-table {
    margin-left: auto;
    margin-right: auto;
}

.ip {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.input {
    animation: simple_fade_in;
    animation-duration: 2s;
}

.error-message {
    color: red;
}



.small-text {
    font-size: 14px;
    color: #888;
}

.mid-text {
    font-size: 200%;
    position: relative;
    width: 100%;
    margin: 0 auto;
    animation: simple_fade_in;
    animation-duration: 2s;
}

.answer-option {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
}


.option-letter-big {
    margin: 2% 0;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 40px;
    background: #0099ff;
    padding: 12% 12% 12% 12%;
    text-decoration: none;
}

.option-letter {
    margin: 2px 0;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    color: #ffffff;
    font-size: 30px;
    background: #0099ff;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}

.answer-grid {

    margin: 10px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    gap: 0% 10%;
    grid-auto-flow: row;
    grid-template-areas:
        "Y-Area N-Area";

}

.YN-answers-grid {
    margin: auto;
}




.option-text {
    font-size: 20px;
    margin: 0;
    text-align: left;
}




.award-ceremony {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.podium {
    display: flex;
}

.second-place,
.third-place {
    width: 100px;
    height: 200px;
    background-color: silver;
    margin: 0 20px;
}

.first-place {
    width: 150px;
    height: 250px;
    background-color: gold;
}

.rank-circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.score {
    font-size: 18px;
    margin-top: 10px;
}

.celebration {
    display: none;
}

.answer-table {
    align-items: center;
    margin: 0 auto;
}

@keyframes simple_fade_in {
    0% {
        opacity: 0;
        top: 20px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}