<!DOCTYPE html>
<html>
<head>
    <title>Question Show</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>Q{{qtn_order}} {{qtn}}</h1>
        <p class="small-text">Single Select</p>
        <h3>Timer: <span id="timer">15</span> seconds</h3>
        <div class="answer-option">
            <p class="option-letter">A</p>
            <p class="option-text">{{ opt[0] }}</p>
        </div>
        <div class="answer-option">
            <p class="option-letter">B</p>
            <p class="option-text">{{ opt[1] }}</p>
        </div>
        <div class="answer-option">
            <p class="option-letter">Γ</p>
            <p class="option-text">{{ opt[2] }}</p>
        </div>
        <div class="answer-option">
            <p class="option-letter">Δ</p>
            <p class="option-text">{{ opt[3] }}</p>
        </div>
    </div>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var timerInterval;
            /*
        // 监听计时器更新事件
        socket.on('timer_update', function(data) {
            document.getElementById('timer').textContent = data.time_remaining;
        });

        // 监听计时结束事件
        socket.on('timer_end', function() {
            document.getElementById('timer').textContent = 'Time is up!';
            clearInterval(timerInterval);
            document.getElementById('answer-button').disabled = true;
        });
            */
        // 发送加入房间事件
        socket.emit('join_room', { room_id: '{{ room_id }}' });

        
        document.addEventListener('DOMContentLoaded', function () {
            // alert("Timer Start!");
            startTimer();
        });

        
    </script>
</body>
</html>
