<!DOCTYPE html>
<html>

<head>
    <title>Join Room</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Texture/texture_style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        function checkRoom() {
            var roomId = document.getElementById('room-id').value;
            var name = document.getElementById('name').value;
            var name_group = document.getElementById('name-group');
            console.log("name_group is none");
            socket.emit("checkRoomExists", { "room_id": roomId, "name": name }, function (res) {
                console.log(res);
                if (res["room_exists"]) {
                    name_group.style.display = 'block';
                    if (res["isReady"]) {
                        sessionStorage.setItem('user_name', name);
                        window.location.href = 'PreAnswer?room_id=' + roomId;
                    }
                } else {
                    // 如果房间不存在，隐藏Name输入框
                    name_group.style.display = 'none';
                }
            });

        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Join Room</h1>
        <div class="form-group">
            <label for="room-id" class="mid-text">Room ID</label>
            <input type="text" class="setting-input" id="room-id" name="room_id" required>
        </div>
        <div id="name-group" class="form-group" style="display: none;">
            <label for="name" class="mid-text">Name</label>
            <input type="text" class="setting-input" id="name" name="name" autocomplete="off">
        </div>
        <button class="hrline-button" onclick="checkRoom()">&nbsp;&nbsp;&nbsp;&nbsp;Join&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>

    <script>

    </script>
</body>

</html>