<!DOCTYPE html>
<html>

<head>
    <title>Simple Score Show</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var urlParams = new URLSearchParams(window.location.search);
        var room_id = urlParams.get('room_id');
    </script>
</head>

<body>
    <h1>Q{{ qtn_order }} Result</h1>
    <p id="player_name">{{ name }}</p>
    <p id="player_score">{{ score }}</p>
    <h2>Waiting for next question...</h2>
    <script>
        socket.on("toNextQuestion_res",()=>{
            //alert("recieved toNextQuestion");
            window.location.href = '/AnswerShow?room_id=' + room_id;
        })
        //var interval = setInterval(checkRoomStatus, 500);
    </script>
</body>

</html>