<!DOCTYPE html>
<html>

<head>
    <title>Simple Score Show</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Texture/texture_style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var urlParams = new URLSearchParams(window.location.search);
        var room_id = urlParams.get('room_id');
    </script>
</head>

<body>
    <h1 class="text-title">Result</h1>
    <p id="player_name" class="mid-text"></p>
    <p id="player_score" class="small-text">{{ score }}</p>
    <h2 class="mid-text">Waiting for next question...</h2>
    <script>
        $("#player_name").text(sessionStorage.getItem("user_name"));
        socket.on("toNextQuestion_res", () => {
            // 爲了問題方先運行好頁面使得status+1，答題方要延遲400ms
            setTimeout(function () {
                window.location.href = '/AnswerShow?room_id=' + room_id;
            }, 400);

        });
        //var interval = setInterval(checkRoomStatus, 500);
    </script>
</body>

</html>