<!DOCTYPE html>
<html>
<head>
    <title>Answer Show</title>
    <link rel="preload" as="image" href="{{ url_for('static', filename='Texture/STAT_bg.jpeg') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Texture/texture_style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    
</head>
<body class="body-Answer-Show-STAT">
    <div>
        <h1 class="text-title">{{shcd}}</h1>
        <h1 class="mid-text">Find Some Tips~</h1>
        <h3>Timer: <span id="timer">{{rmn}}</span> seconds</h3>
    </div>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var urlParams = new URLSearchParams(window.location.search);
        var room_id = urlParams.get('room_id');

        function RefreshTimer() {
            //将room_id传到后端，再在后端计算剩余秒数传回
            socket.emit("getSecondsLeft", { "room_id": room_id }, function (left_seconds) {
                $("#timer").text(left_seconds);
                //秒数为0时跳转到SimpleScoreShow.html
                if (left_seconds <= 0) {
                    clearInterval(interval);
                    window.location.href = 'ScoreShow?room_id=' + room_id;
                }else if(left_seconds <= 3){
                    $("#timer").css({"color":"red"});
                }
            });
        }

        // 每隔一段时间调用函数，单位为ms
        var interval = setInterval(RefreshTimer, 100);
       
    </script>
</body>
</html>
